*{
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
}
.section-margin{
    margin-top: 40px;
}
.section-padding{
    padding-top: 20px;
    padding-bottom: 20px;
}
.btn-style{
    background-color: #005f8b;
    color: white;
}
.btn-style:hover{
    background-color: #007bb4;
    color: white;
}

/* Hero Area */

.navbar ul li, .nav-btn{
    font-size: 15px;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #005f8b;
    color: white;
    border-radius: 5px;
    transition: .3s ease-in-out;
}
.navbar ul li:hover, .nav-btn:hover{
    background-color: #F08C22;
    color: white;
}
.navbar .reg-btn{
    background-color: #F08C22;
    transition: all .3s ease;
}
.navbar .reg-btn:hover{
    background-color: #F08C22;
    border-left: #005f8b 10px solid;
}
.dropdown-menu li a:hover{
  background-color:#000000;
}
.navbar .active{
    border-left: 10px solid #F08C22;
}

.carousel-inner{
    height: 70vh;
}
.carousel-item{
    height: 100%;
}
.carousel-img-1{
    background-image: url('./images/Kalaroa-1.jpg');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.carousel-img-2{
    background-image: url('./images/Kalaroa-2.jpg');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.carousel-img-3{
    background-image: url('./images/Kalaroa-3.jpg');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Contact */

#contact .card{
    background-color: #005f8b;
    color: white;
    border-bottom: #F08C22 5px solid;
}

/* Registration Form */

.reg-form input, textarea{
    width: 160px;
}

@media only screen and (max-width: 767px) {
  .reg-form input, textarea, select {
    margin-bottom: 20px;
  }
  .reg-form{
    text-align: center;
  }
}

/* Gallery */

.gallery img{
    border: 2px solid #F08C22;
    transition: all .3s ease;
    margin: 10px;
}
.gallery img:hover{
    transform: scale(1.03);
    margin: 0px;
}

/* Footer */

footer{
    background-color: #eeeeee;
}
.quick-links ul a{
    text-decoration: none;
}
.social-links a{
    transition: all .3s ease;
}
.social-links a:hover{
    transform: scale(1.2);
}

@media only screen and (max-width: 767px) {
  input {
    width: 180px;
  }
}
